@model WebShopCongNghe.Models.table_footer

<div class="row">
    <div class="col-lg-3  col-md-6 col-sm-6">
        <div class="single-footer-widget">
            <h6>About Us</h6>
            <p>
               @Model.description
            </p>
        </div>
    </div>
    <div class="col-lg-4  col-md-6 col-sm-6">
        <div class="single-footer-widget">
            <h6>Address</h6>
            <p>@Model.address</p>
            
        </div>
    </div>
    <div class="col-lg-3  col-md-6 col-sm-6">
        <div class="single-footer-widget mail-chimp">
            <h6 class="mb-20">Email</h6>
            <p>@Model.email</p>

        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="single-footer-widget">
            <h6>Phone</h6>
            <p>@Model.phone</p>
           
        </div>
    </div>
</div>
<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
    <p class="footer-text m-0">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;
        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    </p>
</div>