@model IEnumerable<WebAppCK.Models.table_products>

@foreach (var i in Model)
{
    <div class="col-md-3 pro-1">
        <div class="col-m">
            <a href="/@ViewBag.meta/@i.meta/@i.id" data-toggle="modal" data-target="#myModal17" class="offer-img">
                <img src="~/Uploads/images/@i.img" class="img-responsive" alt="">
            </a>
            <div class="mid-1">
                <div class="women">
                    <h6><a href="#">@i.name</a></h6>
                </div>
                <div class="mid-2">
                    <p><em class="item_price">@i.price</em></p>
                    <div class="block">
                        <div class="starbox small ghosting"> </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="add add-2">
                    <button class="btn btn-danger my-cart-btn my-cart-b" data-id="1" data-name="product 1" data-summary="summary 1" data-price="6.00" data-quantity="1" data-image="~/Uploads/images/of16.png">Add to Cart</button>
                </div>
            </div>
        </div>
     </div>
 }


