
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<p>Shop Công nghệ xin chào</p>

@{ Html.RenderAction("getBanner", "Default");}
<!--content-->
<div class="product">
    <div class="container">
        @{ Html.RenderAction("getCategory", "Default");}

        
            <div class="clearfix"></div>
    </div>
</div>