
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<div class="container">
    <div class="spec ">
        <h3>@Model.name</h3>
        <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
        </div>
    </div>
    <div class="con-w3l">

        @Html.Action("getProduct", "Default", new { id = Model.id, metatitle = Model.meta })

    </div>
 </div>
